# allowed models
ENV_OPENAI_ALLOWED_MODELS=gpt-3.5-turbo, gpt-3.5-turbo-0301, text-curie-001, text-babbage-001, text-ada-001

# incoming auth key
# PLEASE CHANGE IT WITH STRONGGGGGGGG PASSWORD
SECRET_AUTH_KEYS=your_auth_key

# openai api key, starts with "sk-"
SECRET_OPENAI_API_KEY=Your OpenAI key
