name = "openai-proxy-worker"
main = "src/index.ts"
compatibility_date = "2022-06-30"

[vars]
# allow models
ENV_OPENAI_ALLOWED_MODELS="text-davinci-003, text-davinci-002, text-curie-001, text-babbage-001, text-ada-001, text-davinci-003, text-davinci-002, text-curie-001, text-babbage-001, text-ada-001"

[env.staging]
name = 'openai-proxy-worker-staing'
