name = "openai-proxy-worker"
main = "src/index.ts"
compatibility_date = "2022-06-30"

[vars]
# allow models
ENV_OPENAI_ALLOWED_MODELS="gpt-4, gpt-4-0613, gpt-4-32k, gpt-4-32k-0613, gpt-3.5-turbo, gpt-3.5-turbo-0613, gpt-3.5-turbo-16k, gpt-3.5-turbo-16k-0613, text-davinci-003, text-davinci-002, text-curie-001, text-babbage-001, text-ada-001"

[env.staging]
name = 'openai-proxy-worker-staing'
